@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Reset ends here */

.correct-char { 
  color: rgb(0, 255, 0);
}

.incorrect-char {
  color: red;
}

* {
  font-family: 'Poppins';
  font-weight: 350;
  color: #e6e6e6;
}

body {
  background-color: #080808;
  margin: 20px;
  height: 90vh;

}

#test-text {
  background-color: #1e1e1e;
  padding: 10px 0 0 10px;
  height: 7.5em;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 10px 20px 10px 15px;
  cursor: pointer;
}

.test-area {
  caret-color: #08c70e;
  padding: 20px 10px 20px 10px;
  width: 70%;
}

.test-area:focus {
  outline: none;
  border: white solid 1px;
}

#restart-button,
.test-area {
  background-color: #1e1e1e;
  border: none;
}

.bottom-ui-container {
  display: flex;
  align-items: center;
  margin-top: 1.5%;
}

#restart-button,
#live-wpm-display,
#countdown {
  display: flex;
  background-color: #1e1e1e;
  text-align: center;
  align-items: center;
  font-weight: 400;
}

#live-wpm-display,
#countdown {
  background-color: #1e1e1e;
  padding: 20px 10px 20px 10px;
  width: 10%;
}

.test-area,
#countdown,
#live-wpm-display {
  height: 55px;
  margin-right: 1%;
}

#restart-button {
  cursor: pointer;
  display: flex;
  height: 55px;
  width: 8%;
  align-items: center;
  justify-content: center;
}

.content {
  height: 90vh;
  justify-self: center;
  align-content: center;
  width: 70%;
}

#countdown {
  cursor: pointer;
}

.countdown-dropdown-container {
  width: 100%;
  position: relative;
}

#countdown-drop-down {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  margin: 1.5% 0 0 70.2%;
  width: 10%;
}

.time-duration-button {
  font-weight: 300;
  width: 100%;
  cursor: pointer;
}

.time-duration-button:hover {
  background-color: #141414;
}

#header-menu-container {
  display: flex;
  justify-content: center;
}

.header-menu-option {
  margin: -3.2rem 10% 10% 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

#about-button {
  margin-right: 0;
}

#header-logo {
  margin-bottom: 1rem;
  justify-self: center;
  width: 20%;
}

#header-container {
  margin-top: -2.3rem;
  position: absolute;
  justify-self: center;
  width: 70%;
}

#footer-container {
  display: flex;
  justify-content: center;
}

#github-button {
  /* margin-right: 1.5%; */
  width: 3vh;
  cursor: pointer;
}
